.truck-details {
    display: flex;
    gap: 5px;
}

.truck-details-container {
    width: 100%;
    height: auto;
    background-color: rgba(226, 224, 224, 0.596);
    border-radius: 5px;
    padding: 1.5%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

